/* variables */
:root {
  --color-darker: #212529;
  --color-dark: #777777;
  --color-blue: #0053ce;
  --color-green: #b5d75c;
  --color-white: #fff;
  --color-light-white: #a3b6e7;
  --color-light-green: rgba(180, 215, 92, 0.5);
  --color-light-blue: rgba(0, 82, 206, 0.5);
  --color-form-green: #008000;
  --color-form-red: #ff0000;
  --color-overlay-orange: #dd9103;
  --color-overlay-purple: #940294;
  --color-overlay-green: #029e02;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 52%;
  }
}
a {
  text-decoration: none;
  color: var(--color-darker);
}
main {
  margin-top: 13.2vh;
}
.centralize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation menu*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1% 3.5%;
  height: 13vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.header__logo-box {
  width: 25%;
  display: flex;
  align-items: center;
  z-index: 99;
}
.header__logo-box img {
  height: 9vh;
}
.header__nav {
  width: 50%;
}
.header__nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.header__nav ul li:hover a {
  color: transparent;
  transition: all 0.2s;
}
.header__nav ul li:hover {
  transform: scale(1.1);
  background-image: linear-gradient(
    to right,
    var(--color-green),
    var(--color-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.menu__btn {
  display: none;
}
.selected {
  background-image: linear-gradient(
    to right,
    var(--color-green),
    var(--color-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.selected a {
  color: transparent;
}
@media only screen and (max-width: 1024px) {
  .header__nav {
    position: absolute;
    z-index: 9;
    background-color: var(--color-white);
    height: 100vh;
    width: 100%;
    top: 0rem;
    right: -150rem;
    transition: 0.7s;
    position: fixed;
  }
  .header__nav ul {
    flex-direction: column;
    position: absolute;
    top: 20%;
    text-align: center;
  }
  .header__nav ul li {
    margin: 1rem auto;
  }
  .menu__btn {
    display: block;
    font-size: 4rem;
    background-image: linear-gradient(
      to bottom,
      var(--color-green),
      var(--color-blue)
    );
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__btn:hover {
    transform: skewX(10deg) translateY(-0.2rem);
  }
  .menu__btn i {
    color: transparent;
  }
  .menu__btn--close {
    position: absolute;
    right: 25px;
    top: 5rem;
  }
}

/* Flex Container */
.flex-container-2 {
  display: flex;
  justify-content: space-around;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .flex-container-2 {
    flex-direction: column;
    width: 100%;
    padding: 1rem 1.5rem;
  }
  .flex-item-2 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

/* Buttons */
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-transparent {
  border: 2px solid var(--color-blue);
  background-color: transparent;
  color: var(--color-blue);
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  font-weight: bold;
}
.btn-transparent:hover {
  background-color: var(--color-green);
  color: var(--color-white);
  border: 2px solid var(--color-green);
}

/* CTA section */
.cta {
  margin: 4rem auto;
  background-color: var(--color-darker);
  padding: 3rem;
  width: 100%;
}
.cta__text {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-white);
  text-transform: uppercase;
}
.cta__text--heading {
  color: var(--color-white);
  font-size: 2rem;
  margin: 0;
  width: 50%;
}
.cta__text--heading span {
  color: var(--color-green);
  letter-spacing: 0.2rem;
}
.cta-btn {
  border-color: var(--color-green);
  color: var(--color-green);
  letter-spacing: 0.1rem;
  margin: 0;
}
.cta-btn:hover {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
}
@media only screen and (max-width: 640px) {
  .cta__text--heading {
    margin: 0 auto 2.5rem;
    width: 100%;
  }
  .cta {
    padding: 3rem 0rem;
  }
}

/* Footer */
.footer {
  background-color: var(--color-blue);
  padding: 2rem 1rem;
  margin-top: 2rem;
  color: var(--color-white);
}
.footer a {
  color: var(--color-light-white);
}
.footer a:hover {
  color: var(--color-white);
}
.footer__top {
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
.footer__top--item {
  width: 18%;
}
.footer__top--item:first-child {
  text-align: center;
}
.footer__top--item img {
  width: 50%;
}
.footer__top--subitem:first-of-type {
  margin-bottom: 1rem;
}
.footer-heading {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.footer-text {
  font-size: 1.7rem;
  color: var(--color-light-white);
}
.footer-text li {
  padding-bottom: 5px;
  color: var(--color-light-white);
}
.footer-subtext {
  font-size: 1.2rem;
}
.footer__bottom {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}
.footer__bottom--icons {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
  margin: 1rem auto;
}
.footer__bottom--icons i {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  border-radius: 50%;
  padding: 1rem 1.2rem;
}
.footer__bottom--icons i:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-blue);
}
.footer hr {
  width: 80%;
  margin: auto;
  color: var(--color-dark);
}
.footer ul {
  list-style: none;
}
.copyright {
  color: var(--color-light-white);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 640px) {
  .footer__top--item {
    width: 90%;
    margin-bottom: 2rem;
  }
  .footer__top--item:first-child {
    text-align: left;
    margin: 0 0 2rem;
    width: 90%;
  }
  .footer__top--item img {
    width: 30%;
  }
}

/* To Top Arrow */
i.fa-arrow-up {
  position: fixed;
  display: none;
  bottom: 2rem;
  right: 0.3rem;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  background-color: var(--color-green);
  opacity: 0.7;
  color: var(--color-white);
  text-align: center;
  z-index: 50;
  cursor: pointer;
}
i.fa-arrow-up:hover {
  opacity: 1;
}

/* Pages hero */
.sub-header {
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  font-weight: normal;
}
.sub-header h1 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 1.2rem;
}

/* Section headings */
.section-heading {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--color-dark);
  font-weight: bold;
  margin: 3.5rem auto 0.5rem;
  width: 90%;
}
.section-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-darker);
  text-align: center;
  margin-bottom: 2rem;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 640px) {
  .section-text {
    width: 95%;
  }
}

/* Animated sections */
.section-animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in, transform 0.5s ease-in;
}
.section-animated.is-visible {
  opacity: 1;
  transform: translateY(0);
}