@import "./global.css";

.sub-header {
  background-image: linear-gradient(
      var(--color-light-green),
      var(--color-light-blue)
    ),
    url(https://images.unsplash.com/photo-1611647832580-377268dba7cb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
p.section-heading {
  font-size: 1.8rem;
  letter-spacing: 0;
  font-weight: 500;
  text-align: justify;
}

/* Products section */
.products {
  margin: 5rem auto;
  user-select: none;
}
.products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product {
  width: 30rem;
  padding: 1.5rem 0;
  cursor: pointer;
  align-items: center;
  position: relative;
  transition: all 0.8s;
  margin: 3rem;
}
.product .fa-caret-square-right {
  margin: 1rem auto;
  color: var(--color-white);
  font-size: 3rem;
  display: block;
}
.product-name {
  color: var(--color-white);
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.product img,
.product svg {
  width: 90%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
.product1,
.overlay1 {
  background-color: var(--color-overlay-orange);
}
.product2,
.overlay2 {
  background-color: var(--color-overlay-purple);
}
.product3,
.overlay3 {
  background-color: var(--color-overlay-green);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.product:hover .overlay {
  opacity: 1;
}
.overlay__text {
  color: var(--color-white);
  text-align: center;
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
}
.overlay__text--content {
  text-align: justify;
}
.overlay__text .btn-transparent {
  padding: 0.6rem 2rem;
  margin: 1rem auto;
  display: inline-block;
  color: var(--color-white);
  border-color: var(--color-white);
}
.overlay__text .btn-transparent:hover {
  border-color: var(--color-green);
}