<footer class="footer">
  <div class="footer__container">
    <div class="footer__top flex-container-2">
      <div class="footer__top--item">
        <a href="/"><img src="img/yip-online-logo.png" alt="Logo"/></a>
      </div>
      <div class="footer__top--item">
        <h2 class="footer-heading">Address</h2>
        <p class="footer-text">Lagos, Nigeria</p>
      </div>
      <div class="footer__top--item">
        <h2 class="footer-heading">OUR CONTACT</h2>
        <div class="footer__top--subitem">
          <span class="footer-subtext">SUPPORT</span>
          <p class="footer-text">
            <a href="tel:+2349037912235">0903 791 2235</a>
          </p>
        </div>
        <div class="footer__top--subitem">
          <span class="footer-subtext">SALES</span>
          <p class="footer-text">
            <a href="tel:+2348095306440">0809 530 6440</a>
          </p>
        </div>
      </div>
      <div class="footer__top--item">
        <h2 class="footer-heading">Useful Links</h2>
        <ul class="footer-text">
          <li><a href="/products">Products</a></li>
          <li><a href="/career">Career</a></li>
          <li><a href="/contact#message-form">Send a message</a></li>
        </ul>
      </div>
      <div class="footer__top--item">
        <h2 class="footer-heading">Our Services</h2>
        <ul class="footer-text">
          <li><a href="https://powpa.com/">Powpa</a></li>
          <li><a href="https://simpoo.com/">Simpo</a></li>
          <li><a href="https://yiponline.com/">Software Dev</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div class="footer__bottom">
    <div class="footer__bottom--icons">
      <a href="https://twitter.com/yiponline_" target="_blank" class="twitter"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        href="https://www.facebook.com/yourinternetpages/"
        target="_blank"
        class="facebook"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        href="https://instagram.com/yip_online?igshid=rzv6h5w08m80"
        target="_blank"
        class="instagram"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        href="https://api.whatsapp.com/send?phone=+2349037912235"
        target="_blank"
        class="whatsapp"
        ><i class="fab fa-whatsapp"></i
      ></a>
      <a href="https://www.linkedin.com/company/yiponline" target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </div>
    <p class="copyright">Yip-Online IT Services. © 2023. All Rights Reserved</p>
  </div>
  <a href="#"><i class="fas fa-arrow-up"></i></a>
</footer>
