<header class="header">
  <div class="header__logo-box">
    <a href="index.html"><img src="img/yip-online-logo.png" alt="Logo" loading="lazy"/></a>
  </div>
  <nav class="header__nav">
    <div class="menu__btn menu__btn--close">
      <i class="fas fa-times"></i>
    </div>
    <ul class="header__nav--list">
      <li><a href="../index.html">Home</a></li>
      <li><a href="../products.html">Products</a></li>
      <li><a href="../career.html">Careers</a></li>
      <li><a href="../contact.html">Contact Us</a></li>
      <li>
        <a href="https://www.linkedin.com/company/yiponline"
          >Join Us <i class="fab fa-linkedin"></i
        ></a>
      </li>
    </ul>
  </nav>
  <div class="menu__btn menu__btn--open">
    <i class="fas fa-bars"></i>
  </div>
</header>
